.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 1260px;
  margin-top:6px;
}

.BrandIcon {
  position: relative;
  right: 10%;
  width: 41px;
  height: 41px;
  background: url("../assets/icons/BrandIcon.svg");
}

.Actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}
.Cart {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  background: url("../assets/icons/EmptyCart.svg");
  cursor: pointer;
}


.ProductCounter {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background-color: black;
  position: absolute;
  top: 28px;
  cursor: pointer;
} 
 .NumberOfCounter {
  position: relative;
  left: 6px;
  top: -11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
/* .NumberOfCounterPosition {
  position: absolute;
  left: 2px;
  top: -11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
} */
