@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@200;300&display=swap");
.Modal {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 92px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.ModalContent {
  background-color: #fefefe;
  padding: 13px;
  width: 17%;
  margin-right: 16%;
  display:flex;
  flex-direction: column;
  /* height:auto; */

height:auto;

}
.ModalWindow{
  display: flex;
  flex-direction: column;
}
.Content{
  overflow: scroll;
  max-height: 500px;
}
.OrderList {
  display: flex;
  margin-top: 13%;
  justify-content: space-between;

}
.LeftRow {
  max-width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CartHeadline {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  color: #1d1f22;
  display: inline;
}
.ItemQuantity {
  font-family: Raleway;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  color: #1d1f22;
  display: inline;
  padding-left: 10px;
}

.NameOfBrand,
.NameOfProduct {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin: 0;
}

.PriceOfProduct {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin: 0;
}
.MiddleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.AttributesWraper {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.AttributeName {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.AttributesBoxWraper {
  display: flex;
  justify-content: flex-start;
}


.ColorAttributeBox {
  width: 16px;
  height: 16px;
  color: #a6a6a6;
  border: 2px solid #1d1f22;
  margin-right: 10px;
}
.SelectedColorAttributeBox {
  height: 16px;
  width: 16px;

  background-color: white;
  color: #a6a6a6;
  border: 1px solid #1d1f22;
  margin-right: 10px;
}
/* border: 1px solid #5ECE7B; */
.SelectedAttributeButton {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  height: 24px;
  font-size: 12px;
  color: white;
  background-color: #1d1f22;
  border: 1px solid #808080;
  pointer-events: none;
  margin-right: 10px;
}
.AttributeButtonBox {
  height: 24px;
  position: relative;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  background-color: white;
  color: #1d1f22;
  border: 0.5px solid #1d1f22;
  margin-right: 10px;
}
.attributeButtonBox:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.Increment {
  width: 24px;
  height: 24px;
  background: url("../assets/icons/plusSquare.svg") no-repeat;
  cursor: pointer;
}

.Counter {
  font-size: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}

.Substract {
  width: 24px;
  height: 24px;
  background: url("../assets/icons/minusSquare.svg") no-repeat;
  cursor: pointer;
}
.ProductGallery {
  height: 190px;
  width: 121px;
  object-fit: cover;
  object-position: 70% 100%;
}
.ModalFooter{
  display:flex;
  flex-direction: column;
}
.TotalPrice{
  display:flex;
  justify-content: space-between;
}
.Total, .TotalNumber{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
}
.TotalNumber{
  font-weight: 700;
}
.ButtonGroup{
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}
.BtnForCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 43px;

  background: #ffffff;
  border: 1px solid #1d1f22;

  cursor: pointer;
}
.BtnCheckOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;

  width: 140px;
  height: 43px;

  background: #5ece7b;

  cursor: pointer;
}
