@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@200;300&display=swap");
.CartWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  padding-left: 22px;
}
.CartHeader {
  margin-bottom: 23px;
}


.CartTitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.Hr {
  position: relative;
  width: 1217px;
  height: 1px;
  left: 0px;
  top: 0px;
  background: #e5e5e5;
}
.DeleteButton {
  display: none;
}
.LeftRow{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ItemListWraper {
  display: flex;
  width: 1240px;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 38px;
}
/* .Delete{
  display:none;

} */
.Product:hover > .DeleteButton,
.DeleteButton:hover {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 20px;
  font-size: 10px;
  height: 20px;
  background-color: black;
  border: none;
  color: #fff;
  font-weight: 600;
}

.BrandName {
  width: 292px;
  height: 27px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin: 0 0 20px 0;
}

.ItemName {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin: 0 0 20px 0;
}

.ItemPrice {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin: 0 0 20px 0;
}
.AttributesName {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.MiddleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 53%;
  justify-content: space-between;
}
.Increment{
  height: 45px;
  width: 45px;
  background: url("../assets/icons/plusSquareL.svg") no-repeat;
  cursor: pointer;
}


.Count {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1d1f22;
}
.Substract{
  height: 45px;
  width: 45px;
  background: url("../assets/icons/minusSquareL.svg") no-repeat;
  cursor: pointer;
}
.RightRow{
  width: 200px;
  height: 288px;
}
.ProductImage {
  height: 288px;
  width: 200px;
  object-fit: contain;

  position: absolute;
  z-index: 0;
}
.ArrowWrapper{
  display: flex;
  position: relative;
  top: 248px;
  right: 28px;
  z-index: 1;
  justify-content: flex-end;
}
.LeftArrow {
  background:url('../assets/icons/leftArrow.svg') no-repeat;
  width:24px;
  height:24px;
  cursor: pointer;
  margin-right:10px;
}

.RightArrow {
  background:url('../assets/icons/rightArrow.svg') no-repeat;
  width:24px;
  height:24px;
  cursor: pointer;
}

.CategoryAttributesWraper {
  display: flex;
  flex-direction: column;

}
.AttributesBoxWraper{
  display: flex;
  justify-content: flex-start;
}
.SelectedAttrBox {
  margin-right: 10px;
  width: 63px;
  height: 45px;
  border: 1px solid #808080;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #a6a6a6;
  background: #e8e8e8;
  pointer-events: none;
}
.colorAttrBox {
  margin-right: 10px;
  width: 63px;
  height: 45px;
  background-color: white;
  color: #a6a6a6;
  border: 2px solid #1d1f22;
}

.ColorAttrBoxSelected {
  margin-right: 10px;
  bottom: 20px;
  width: 63px;
  height: 45px;
  background-color: white;
  color: #a6a6a6;
  border: 1px solid #1d1f22;
}
.attributeBoxOrg {
  margin-right: 10px;
  width: 63px;
  height: 45px;
  background-color: white;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #242424;
  border: 0.5px solid #1d1f22;
}

.attributeBoxOrg:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
